{% extends "layout-informant.html" %}

{% set hmpoTitle %}Their date and place of birth{% endset %}

{% set otherPlaceOfDeath %}
    {% from "hmpo-text/macro.njk" import hmpoText %}

    {{ hmpoText(ctx, {
        id: "otherPlaceOfDeath",
        label: "Where was the place?"
    }) }}
{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoDate(ctx, {
            id: "dateOfBirth",
            legend: {
                text: "Date of birth",
                classes: "govuk-label--m"
            },
            hint: "For example, 20 01 1952"
        }) }}

        {{ hmpoText(ctx, {
            id: "townOrCityOfBirth",
            label: {
                text: "What town or city were they born in?",
                classes: "govuk-label--m"
            },
            attributes: { autocapitalize: "words" },
            classes: "govuk-!-width-one-half"
        }) }}

        {{ hmpoRadios(ctx, {
            id: "countryOfBirth",
            legend: {
                text: "What country were they born in?",
                classes: "govuk-label--m"
            },
            items: [{
                value: 'England',
                text: "England"
            }, {
                value: 'Scotland',
                text: "Scotland"
            }, {
                value: 'Wales',
                text: "Wales"
            }, {
                value: 'Northern Ireland',
                text: "Northern Ireland"
            }, {
                divider: "or"
            }, {
                value: 'Outside UK',
                text: "Outside UK"
            }]
        }) }}

        {{ hmpoRadios(ctx, {
            id: "spanishNational",
            legend: {
                text: "Were they a Spanish national?",
                classes: "govuk-label--m"
            },
            inline: true
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
