{% extends "layout-informant.html" %}

{% set hmpoTitle %}Email{% endset %}

{% block header %}
    {{ govukHeader({
        serviceName: ""
    }) }}
{% endblock %}

{% block phaseBanner %}
{% endblock %}

{% block mainContent %}

        <p>Dear Joseph Wallis,</p>
        <p>We’ve now received medical certification for the death of Sarah Wallis.</p>
        <p>This means you, another relative, or someone present at the death can <a href="/informant/start" target="_blank">start the process of registering their death</a>.</p>
        <p>You can give information about the person and yourself at the appointment, instead of online, if you prefer.</p>

{% endblock %}





Give information about the person and yourself.



















<name of registrar office as sign off>



Contact us on <tel> <email>
