{% extends "layout-informant.html" %}

{% set hmpoTitle %}Their other names{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}


        {{ hmpoRadios(ctx, {
            id: "knownByAnyOtherNames",
            legend: {
                text: "Were they known by any other names?",
                classes: "govuk-label--m"
            },
            hint: "For example, a previous married name, a name they were given at birth and changed later, or just the name people called them by
            ",
            inline: true
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
