{% extends "layout-informant.html" %}

{% set hmpoTitle %}Their personal details{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoText(ctx, {
            id: "firstName",
            label: {
                text: "Their first name",
                classes: "govuk-label--m"
            },
            hint: "This is also known as 'given names'"
        }) }}

        {{ hmpoText(ctx, {
            id: "middleName",
            label: {
                text: "Middle name",
                classes: "govuk-label--m"
            }
        }) }}

        {{ hmpoText(ctx, {
            id: "lastName",
            label: {
                text: "Last name",
                classes: "govuk-label--m"
            },
            hint: "This is also known as 'family name'"
        }) }}

        {{ hmpoText(ctx, {
            id: "prefix",
            label: {
                text: "Name prefix, if relvant",
                classes: "govuk-label--m"
            },
            hint: "For example, 'xxx'"
        }) }}

        {{ hmpoText(ctx, {
            id: "suffix",
            label: {
                text: "Name suffix, if relevant",
                classes: "govuk-label--m"
            },
            hint: "For example, 'xxx'"
        }) }}

        {{ hmpoRadios(ctx, {
            id: "sex",
            legend: {
                text: "Were they female or male?",
                classes: "govuk-label--m"
            },
            hint: "This is their sex at birth",
            items: [
                { value: "Female", text: "Female" },
                { value: "Male", text: "Male" }
            ]
        }) }}

        {{ hmpoRadios(ctx, {
            id: "maritalStatus",
            legend: {
                text: "What was their relationship status?",
                classes: "govuk-label--m"
            },
            items: [{
                value: 'Married',
                text: "Married"
            }, {
                value: 'Civil partner',
                text: "In a civil partnership"
            }, {
                value: 'Widow or widower',
                text: "Widow or widower"
            }, {
                value: 'Surviving civil parnter',
                text: "Surviving civil partner"
            }, {
                value: 'Single',
                text: "Single, divorced or civil partnership dissolved"
            }, {
                value: 'Uknown',
                text: "Not sure"
            }]
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
