// Colours from Home Office Design System
.hods-alert {
    border-color: #2b8cc4;
    background-color: #dbeff9;
    margin-top: 0px;
}
.hods-alert--success {
    border-color: #28a197;
    background-color: #c6ece9;
    margin-top: 0px;
}
.hods-alert--error {
    border-color: #c42b2b;
    background-color: #f3dede;
    margin-top: 0px;
}
