{% extends "layout-registrar.html" %}

{% set hmpoTitle %}Age of deceased{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>
    <p>Enter the age of the deceased</p>
    {% call hmpoForm(ctx) %}
<div class="prototype-flexrow">
    {{ hmpoText(ctx, {
        id: "ageOfDeceased",
        classes: "govuk-input--width-2",
        formGroup: {
            classes: "govuk-!-margin-right-5"
        },
        label: {
            text: "Time",
            classes: "govuk-label--xs"
            
        }
    }) }}

    {{ hmpoSelect(ctx, {
        id: "ageOfDeceasedTimeUnit",
        label: {
            text: "Choose time unit"
  
        },
        items: [
            { value: null, text: "Choose time unit", selected: true },
            { value: "Minutes", text: "Minutes" },
            { value: "Hours", text: "Hours" },
            { value: "Days", text: "Days" },
            { value: "Months", text: "Months" },
            { value: "Years", text: "Years" }
            ]
    }) }}
</div>
        <div class="govuk-button-group">
            {{ hmpoSubmit(ctx, { 
                text: "Continue"
            }) }}
        </div>

        <p><a href="age-cannot-continue.html">I do not have their age</a></p>

    {% endcall %}

{% endblock %}
