{% extends "layout-registrar.html" %}

{% set hmpoTitle %}Check your email{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        <p>Enter the 6 digit code we’ve sent to your LRS email address.

        It might take a minute or so to arrive. If you do not use it within 5 minutes, you’ll need to get a new code.</p>

        {{ hmpoText(ctx, {
            id: "registrarOneTimePassword",
            label: {
                text: "6 digit code",
                classes: "govuk-label--m"
            }
        }) }}

        <p><a href="#">Get new code</a></p>

        {{ hmpoSubmit(ctx, { text: translate("buttons.signIn") }) }}

    {% endcall %}

{% endblock %}
