{% extends "layout-registrar.html" %}

{% set hmpoTitle %}Medical certificate{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "mccdFormType",
            classes: "govuk-radios",
            legend: {
                text: "Which medical certificate do you have?",
                classes: "govuk-fieldset__legend--s"
            },
            items: [{
                value: "option1",
                text: "Form 65 (death of someone 28 days or younger)"
            }, 
            {
                value: "option2",
                text: "Form 66 (death of someone older than 28 days)"
            }]
        }) }}

        <div class="govuk-button-group">
            {{ hmpoSubmit(ctx, { 
                text: "Create record"
            }) }}
        </div>

    {% endcall %}

{% endblock %}
