{% extends "layout-registrar-full.html" %}

{% set hmpoTitle %}Pending registrations{% endset %}

{% block backLink %}{% endblock %}

{% block mainContent %}

    {% call hmpoForm(ctx) %}
        <h1 id="header" class="heading-flex govuk-heading-l" style="border-bottom:none;">{{ hmpoTitle }}{{ hmpoSubmit(ctx, { text: translate("buttons.createNewRecord") }) }}</h1>

        <!-- TODO: Add sortable table in from MOJ Frontend -->

        {{ govukTable({
            attributes: {
                'data-module': 'moj-sortable-table'
            },
            head: [
                {
                    text: "Name",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Date of birth",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Date of death",
                    attributes: {
                        "aria-sort": "ascending"
                    }
                },
                {
                    text: "Age",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "MCCD received",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Certifying practitioner",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Place of death",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Priority",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Medical certificate status",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Notes",
                    attributes: {
                        "aria-sort": "none"
                    }
                }
            ],
            rows: [
                [
                    {
                        html: '<a href="/registrar/record">SHORT, Charles</a>',
                        attributes: {
                            "data-sort-value": "Short, Charles"
                        }
                    },
                    {
                        text: "06/02/1990",
                        attributes: {
                            "data-sort-value": "19/02/2024"
                        }
                    },
                    {
                        text: "06/02/2024",
                        attributes: {
                            "data-sort-value": "06/02/2024"
                        }
                    },
                    {
                        text: "34 years"
                    },
                    {
                        text: "08/02/2024",
                        attributes: {
                            "data-sort-value": "08/02/2024"
                        }
                    },
                    {
                        text: "Dr Julie Marie Bowden"
                    },
                    {
                        text: "Queen Mary’s Hospital, Fulham"
                    },
                    {
                        text: "No",
                        attributes: {
                            "data-sort-value": "Yes"
                        }
                    },
                    {
                        html: '<span class="govuk-ok"><strong>OK</strong></span>'
                    },
                    {
                        text: ""
                    }
                ],
                [
                {
                    html: '<a href="/registrar/record">TALL, Anne</a>',
                    attributes: {
                        "data-sort-value": "Tall, Anne"
                    }
                },
                {
                    text: "12/10/1950",
                    attributes: {
                        "data-sort-value": "12/10/1950"
                    }
                },
                {
                    text: "12/10/2024",
                    attributes: {
                        "data-sort-value": "12/10/2024"
                    }
                },
                {
                    text: "74 years"
                },
                {
                    text: "22/02/2024",
                    attributes: {
                        "data-sort-value": "22/02/2024"
                    }
                },
                {
                    text: "Dr Mohammed Talon"
                },
                {
                    text: "Queen Mary’s Hospital, Fulham"
                },
                {
                    text: "No",
                    attributes: {
                        "data-sort-value": "Yes"
                    }
                },
                {
                    html: '<span class="govuk-ok"><strong>OK</strong></span>'
                },
                {
                    text: ""
                }
            ],
            [
            {
                html: '<a href="/registrar/record">SALM, Mohammed</a>',
                attributes: {
                    "data-sort-value": "Short, Charles"
                }
            },
            {
                text: "08/02/2024",
                attributes: {
                    "data-sort-value": "05/02/2024"
                }
            },
            {
                text: "06/02/2024",
                attributes: {
                    "data-sort-value": "06/02/2024"
                }
            },
            {
                text: "0 years"
            },
            {
                text: "08/02/2024",
                attributes: {
                    "data-sort-value": "08/02/2024"
                }
            },
            {
                text: "Dr Adam Smasher"
            },
            {
                text: "Queen Elizabeth Hospital, Fulham"
            },
            {
                text: "No",
                attributes: {
                    "data-sort-value": "Yes"
                }
            },
            {
                html: '<span class="govuk-ok"><strong>OK</strong></span>'
            },
            {
                text: ""
            }
        ],
        [
        {
            html: '<a href="/registrar/record">POTTER, Harry</a>',
            attributes: {
                "data-sort-value": "Potter, Harry"
            }
        },
        {
            text: "22/02/2011",
            attributes: {
                "data-sort-value": "22/02/2011"
            }
        },
        {
            text: "15/02/2024",
            attributes: {
                "data-sort-value": "15/02/2024"
            }
        },
        {
            text: "12 years"
        },
        {
            text: "19/02/2024",
            attributes: {
                "data-sort-value": "19/02/2024"
            }
        },
        {
            text: "Dr Craig Smith"
        },
        {
            text: "Royal Alexander Hospital, Fulham"
        },
        {
            text: "No",
            attributes: {
                "data-sort-value": "Yes"
            }
        },
        {
            html: '<span class="govuk-ok"><strong>OK</strong></span>'
        },
        {
            text: ""
        }
        ],
        [
        {
            html: '<a href="/registrar/record">WEAVER, Jackie</a>',
            attributes: {
                "data-sort-value": "Weaver, Jackie"
            }
        },
        {
            text: "22/02/2020",
            attributes: {
                "data-sort-value": "22/02/2020"
            }
        },
        {
            text: "27/02/2024",
            attributes: {
                "data-sort-value": "27/02/2024"
            }
        },
        {
            text: "4 years"
        },
        {
            text: "28/02/2024",
            attributes: {
                "data-sort-value": "28/02/2024"
            }
        },
        {
            text: "Dr Annette Love"
        },
        {
            text: "Royal Alexander Hospital, Fulham"
        },
        {
            text: "No",
            attributes: {
                "data-sort-value": "Yes"
            }
        },
        {
            html: '<span class="govuk-ok"><strong>OK</strong></span>'
        },
        {
            text: ""
        }
        ]
        ]
    }) }}
        <!-- Bump govuk-frontend for this component -->
        {# {{ govukPagination({
            next: {
              href: "#"
            },
            items: [
              {
                number: 1,
                current: true,
                href: "#"
              },
              {
                number: 2,
                href: "#"
              },
              {
                number: 3,
                href: "#"
              }
            ]
        }) }} #}

    {% endcall %}
   

{% endblock %}
