{% extends "layout-registrar-record.html" %}

{% set hmpoTitle %}{{values.coverSheetDeceasedLastName | upper}}, {{values.coverSheetDeceasedFirstName}}{% endset %}

{% block sideContent %}
    {% call hmpoSidebar({ classes: "hmpo-sidebar__thick-border" }) %}
        <!-- TODO: Import side navigation component from DAP frontend -->
        <nav class="side-navigation">
            <!-- TODO: Persist session data for a href links -->
            <a class="govuk-link govuk-link__active" href="record">Cover sheet</a>
            <h2 class="govuk-heading-s">Pre-registration</h2>
            <a class="govuk-link" href="record-cause-of-death">Cause of death</a>
            <a class="govuk-link" href="record-uploads">Uploads</a>
            <h2 class="govuk-heading-s">Registration</h2>
            <a class="govuk-link" href="record-deceaseds-details">Deceased’s details</a>
            <a class="govuk-link" href="record-informants-details">Informant’s details</a>
            <a class="govuk-link" href="record-check-all-information">Check all information</a>
            <a class="govuk-link" href="record-register-page">Register page</a>
            <a class="govuk-link" href="record-informant-declaration">Declaration</a>
           
        </nav>
    {% endcall %}
{% endblock %}

{% block mainContent %}


    <h2 class="govuk-heading-l">Cover sheet</h2>

    <h3 class="govuk-heading-m">File information</h3>
    {% call hmpoForm(ctx) %}
    {{ hmpoDate(ctx, {
        id: "MCCDDateMedicalCertificateIssued",
        legend: {
            text: "What date did you get the medical certificate?",
            classes: "govuk-label--s"
        },
        hint: "For example, 12 11 2007"
    }) }}

    <!-- <h4 class="govuk-heading-s">What date did you get the medical certificate?</h4>
    <p class="govuk-body">{{ values.MCCDDateMedicalCertificateIssued | date("DD/MM/YYYY") }}</p> -->

    {{ hmpoText(ctx, {
        id: "coverSheetDeceasedFirstName",
        label: {
            text: "Deceased’s first name",
            classes: "govuk-label--s"
        }
    }) }}

    {{ hmpoText(ctx, {
        id: "coverSheetDeceasedMiddleNames",
        label: {
            text: "Deceased's middle names",
            classes: "govuk-label--s"
        }
    }) }}

    {{ hmpoText(ctx, {
        id: "coverSheetDeceasedLastName",
        label: {
            text: "Deceased's last name",
            classes: "govuk-label--s"
        }
    }) }}

    {{ hmpoDate(ctx, {
        id: "coverSheetDeceasedDateOfDeath",
        legend: {
            text: "Date of death",
            classes: "govuk-label--s"
        },
        hint: "For example, 27 03 2001"
    }) }}

    <h3 class="govuk-heading-m">Registrar information</h3>
    {{ hmpoDate(ctx, {
        id: "coverSheetDateMCCDReceived",
        legend: {
            text: "What date did you get the medical certificate?",
            classes: "govuk-label--s"
        },
        hint: "For example, 12 11 2007"
    }) }}

    {{ hmpoRadios(ctx, {
        id: "coverSheetMCCDStatus",
        legend: {
            text: "Is the medical certificate ready to use for the registration?  ",
            classes: "govuk-label--s"
        },
        classes: "govuk-radios--small",
        items: [
            { value: "OK", text: "OK" },
            { value: "Not OK", text: "Not OK" }
        ]
    }) }}

    {{ hmpoRadios(ctx, {
        id: "coverSheetPriority",
        legend: {
            text: "Is this registration urgent?",
            classes: "govuk-label--s"
        },
        classes: "govuk-radios--small",
        hint: "For example, for faith deaths"
    }) }}

    <!-- TODO: Refactor into fieldset -->
    <h4 class="govuk-heading-s">Informant contact details</h4>
    {{ hmpoText(ctx, {
        id: "coverSheetInformantFullName",
        label: {
            text: "Full name",
            classes: "govuk-label--xs"
        }
    }) }}
    {{ hmpoText(ctx, {
        id: "coverSheetInformantPhoneNumber",
        label: {
            text: "Phone number",
            classes: "govuk-label--xs"
        }
    }) }}
    {{ hmpoText(ctx, {
        id: "coverSheetInformantEmailAddress",
        label: {
            text: "Email address",
            classes: "govuk-label--xs"
        }
    }) }}

    {{ hmpoTextarea(ctx, {
        id: "coverSheetNotes",
        label: {
            text: "Notes",
            classes: "govuk-label--s"
        }
    }) }}

    <div class="govuk-button-group">
        {{ hmpoSubmit(ctx, { text: translate("buttons.save") }) }}
        {{ hmpoSubmit(ctx, {
            text: translate("buttons.cancel"),
            classes: "govuk-button--secondary",
            href: "./record"
        }) }}
    </div>

    {% endcall %}
{% endblock %}
