{% extends "layout-registrar-record.html" %}

{% set hmpoTitle %}{{values.coverSheetDeceasedLastName | upper}}, {{values.coverSheetDeceasedFirstName}}{% endset %}

{% block sideContent %}
    <style>
        .hmpo-sidebar {
            width: 100%;
            float: none;
            position: relative;
            padding: 0;
        }
    </style>

    {% call hmpoSidebar({ classes: "hmpo-sidebar__thick-border" }) %}
        <!-- TODO: Import side navigation component from DAP frontend -->
        <h3 class="govuk-heading-m">One-third column placeholder</h3>
        <p>Import side navigation</p>
        <ul>
            <!-- TODO: Persist session data for a href links -->
            <li><a href="record">Cover sheet</a></li>
            <br>
            <li>Pre-registration</li>
            <li><a href="record-cause-of-death">Cause of death</a></li>
            <li><a href="record-uploads">Uploads</a></li>
            <br>
            <li>Registration</li>
            <li><a href="record-deceaseds-details">Deceased’s details</a></li>
            <li><a href="record-informants-details">Informant’s details</a></li>
            <li><a href="record-check-all-information">Check all information</a></li>
            <li><a href="#">Register page</a></li>
        </ul>
    {% endcall %}
{% endblock %}

{% block mainContent %}
    {% call hmpoForm(ctx) %}

    <h2 class="govuk-heading-l">Register page</h2>

    {{ hmpoRadios(ctx, {
        id: "registrarDesignation",
        legend: {
            text: "Registrar’s designation",
            classes: "govuk-label--s"
        },
        classes: "govuk-radios--small",
        items: [
            { value: "Registrar", text: "Registrar" },
            { value: "Interim Registrar", text: "Interim Registrar" },
            { value: "Deputy Registrar", text: "Deputy Registrar" },
            { value: "Deputy Interim Registrar", text: "Deputy Interim Registrar" }
        ]
    }) }}

    <!-- TODO: Fix conditional logic so it is on radio selection rather than value in session -->
    {# {% if values.registrarDesignation == undefined %}
        {{ hmpoSubmit(ctx, {
            text: translate("buttons.viewAndPrintRegisterPage"),
            href: "/registrar/record-register-page-preview",
            disabled: true
            })
        }}
    {% else %} #}
        <a target="_blank" href="/registrar/record-register-page-preview" role="button" draggable="false" class="govuk-button button" data-module="govuk-button">
            View and print register page
        </a>
    {# {% endif %} #}

    {{ govukWarningText({
        text: "Show the register page to the informant to confirm information is correct.",
        iconFallbackText: "Warning"
    }) }}

    <h3 class="govuk-heading-m">Signature details</h3>

    {{ hmpoText(ctx, {
        id: "informantSignature",
        label: {
            text: "Informant’s signature, as written",
            classes: "govuk-label--s"
        }
    }) }}

    {{ hmpoRadios(ctx, {
        id: "informantSignatureAnnotation",
        legend: {
            text: "Signature annotation",
            classes: "govuk-label--s"
        },
        classes: "govuk-radios--small",
        items: [
            { value: "None – signature clear", text: "None – signature clear" },
            { value: "‘Signature of’ added", text: "‘Signature of’ added" },
            { value: "‘Mark of’ added", text: "‘Mark of’ added" }
        ]
    }) }}

    {{ hmpoText(ctx, {
        id: "registrarSignature",
        label: {
            text: "Registrar’s signature, as written",
            classes: "govuk-label--s"
        }
    }) }}

    <!-- TODO: Fix conditional logic so it is on radio selection rather than value in session -->
    {# {% if values.informantSignature == null or informantSignatureAnnotation == undefined or registrarSignature == null %}
        {{ hmpoSubmit(ctx, {
            text: translate("buttons.sendToRON"),
            disabled: true
            })
        }}
    {% else %} #}
        {{ hmpoSubmit(ctx, {
            text: translate("buttons.sendToRON")
            })
        }}
    {# {% endif %} #}

    {% endcall %}
{% endblock %}
