{% extends "layout-registrar-record.html" %}

{% set hmpoTitle %}{{values.coverSheetDeceasedLastName | upper}}, {{values.coverSheetDeceasedFirstName}}{% endset %}

{% block sideContent %}
    {% call hmpoSidebar({ classes: "hmpo-sidebar__thick-border" }) %}
        <!-- TODO: Import side navigation component from DAP frontend -->
        <nav class="side-navigation">
            <!-- TODO: Persist session data for a href links -->
            <a class="govuk-link" href="record">Cover sheet</a>
            <h2 class="govuk-heading-s">Pre-registration</h2>
            <a class="govuk-link" href="record-cause-of-death">Cause of death</a>
            <a class="govuk-link" href="record-uploads">Uploads</a>
            <h2 class="govuk-heading-s">Registration</h2>
            <a class="govuk-link" href="record-deceaseds-details">Deceased’s details</a>
            <a class="govuk-link" href="record-informants-details">Informant’s details</a>
            <a class="govuk-link" href="record-check-all-information">Check all information</a>
            <a class="govuk-link govuk-link__active" href="#">Register page</a>
        </nav>
    {% endcall %}
{% endblock %}

{% block mainContent %}
    {% call hmpoForm(ctx) %}

    <h2 class="govuk-heading-l govuk-!-padding-top-3">View register page</h2>

    {{ hmpoRadios(ctx, {
        id: "registrarDesignation",
        legend: {
            text: "Registrar’s designation",
            classes: "govuk-label--s"
        },
        classes: "govuk-radios--small",
        items: [
            { value: "Registrar", text: "Registrar" },
            { value: "Interim Registrar", text: "Interim Registrar" },
            { value: "Deputy Registrar", text: "Deputy Registrar" },
            { value: "Deputy Interim Registrar", text: "Deputy Interim Registrar" }
        ]
    }) }}

    {{ govukWarningText({
        text: "Show the register page to the informant to confirm information is correct.",
        iconFallbackText: "Warning"
    }) }}

    <!-- TODO: Fix conditional logic so it is on radio selection rather than value in session -->
    {# {% if values.registrarDesignation == undefined %}
        {{ hmpoSubmit(ctx, {
            text: translate("buttons.viewAndPrintRegisterPage"),
            href: "/registrar/record-register-page-preview",
            disabled: true
            })
        }}
    {% else %} #}
        
    <div class="button-container-2">
        {{ govukButton({
            text: "View register page",
            href: "/public/images/register/record-register-page-preview.pdf", 
            classes: "govuk-!-margin-bottom-2 govuk-!-margin-right-2"
        }) }}
        {{ govukButton({
            text: "Save and contniue",
            href: "/registrar/record",
            classes: "govuk-!-margin-bottom-2"
        }) }}
    </div>
    
    
    
    
    
    <a target="_blank" href="/public/images/register/record-register-page-preview.pdf" role="button" draggable="false" class="govuk-button button" data-module="govuk-button">
            View register page
        </a>

        <a target="_blank" href="/public/images/register/record-register-page-preview.pdf" role="button" draggable="false" class="govuk-button button" data-module="govuk-button">
            Save and continue
        </a>
    {# {% endif %} #}

    <!-- TODO: Fix conditional logic so it is on radio selection rather than value in session -->
    {# {% if values.informantSignature == null or informantSignatureAnnotation == undefined or registrarSignature == null %}
        {{ hmpoSubmit(ctx, {
            text: translate("buttons.sendToRON"),
            disabled: true
            })
        }}
    {% else %} #}
        {{ hmpoSubmit(ctx, {
            text: translate("buttons.sendToRON")
            })
        }}
    {# {% endif %} #}

    {% endcall %}
{% endblock %}
