{% extends "layout-registrar-record.html" %}

{% set hmpoTitle %}{{values.coverSheetDeceasedLastName | upper}}, {{values.coverSheetDeceasedFirstName}}{% endset %}

{% block sideContent %}
    {% call hmpoSidebar({ classes: "hmpo-sidebar__thick-border" }) %}
        <!-- TODO: Import side navigation component from DAP frontend -->
        <nav class="side-navigation">
            <!-- TODO: Persist session data for a href links -->
            <a class="govuk-link govuk-link__active" href="#">Cover sheet</a>
            <h2 class="govuk-heading-s">Pre-registration</h2>
            <a class="govuk-link" href="record-cause-of-death">Cause of death</a>
            <a class="govuk-link" href="record-uploads">Uploads</a>
            <h2 class="govuk-heading-s">Registration</h2>
            <a class="govuk-link" href="record-deceaseds-details">Deceased’s details</a>
            <a class="govuk-link" href="record-informants-details">Informant’s details</a>
            <a class="govuk-link" href="record-check-all-information">Check all information</a>
            <a class="govuk-link" href="record-register-page">Register page</a>
        </nav>
    {% endcall %}
{% endblock %}

{% block mainContent %}
    {% call hmpoForm(ctx) %}

    <h2 class="heading-flex govuk-heading-l">Cover sheet {{ hmpoSubmit(ctx, {
        text: translate("buttons.editDetails"),
        classes: "govuk-button--secondary" })
    }}</h2>


    <h3 class="govuk-heading-m">File information</h3>
    {{ govukSummaryList({ rows: [
        {
            key: { text: "Date medical certificate was issued" },
            value: { text: values.MCCDDateMedicalCertificateIssued | date("DD/MM/YYYY") }
        },
        {
            key: { text: "Deceased’s first name" },
            value: { text: values.coverSheetDeceasedFirstName }
        },
        {
            key: { text: "Middle names" },
            value: { text: values.coverSheetDeceasedMiddleNames }
        },
        {
            key: { text: "Last name" },
            value: { text: values.coverSheetDeceasedLastName }
        },
        {
            key: { text: "Date of death" },
            value: { text: values.coverSheetDeceasedDateOfDeath | date("DD/MM/YYYY") }
        }
    ] | filter }) }}


    <h3 class="govuk-heading-m">Registrar information</h3>
    {% set coverSheetInformantContactDetails = [
        values.coverSheetInformantFullName,
        values.coverSheetInformantPhoneNumber,
        values.coverSheetInformantEmailAddress
    ] | filter | join("<br>") %}

    {{ govukSummaryList({ rows: [
        {
            key: { text: "Date MCCD received" },
            value: { text: values.coverSheetDateMCCDReceived | date("DD/MM/YYYY") }
        },
        {
            key: { text: "MCCD status" },
            value: { text: values.coverSheetMCCDStatus }
        },
        {
            key: { text: "Priority" },
            value: {
                text: "Yes" if values.coverSheetPriority
                    else ("No" if values.coverSheetPriority === false)
            }
        },
        {
            key: { text: "Informant contact details" },
            value: { html:
                coverSheetInformantContactDetails if coverSheetInformantContactDetails else "<br><br><br>"
            }
        },
        {
            key: { text: "Notes" },
            value: { html: values.coverSheetNotes }
        }
    ] }) }}

    {{ govukButton({
        text: "Delete record",
        href: "/registrar/delete",
        classes: "govuk-!-margin-bottom-2 govuk-button--warning"
    }) }}
 
    {% endcall %}
{% endblock %}
