{% extends "layout-registrar-record.html" %}

{% set hmpoTitle %}{{values.coverSheetDeceasedLastName | upper}}, {{values.coverSheetDeceasedFirstName}}{% endset %}

{% block sideContent %}
    {% call hmpoSidebar({ classes: "hmpo-sidebar__thick-border" }) %}
        <!-- TODO: Import side navigation component from DAP frontend -->
        <nav class="side-navigation">
            <!-- TODO: Persist session data for a href links -->
            <a class="govuk-link" href="record">Cover sheet</a>
            <h2 class="govuk-heading-s">Pre-registration</h2>
            <a class="govuk-link" href="record-cause-of-death">Cause of death</a>
            <a class="govuk-link govuk-link__active" href="#">Uploads</a>
            <h2 class="govuk-heading-s">Registration</h2>
            <a class="govuk-link" href="record-deceaseds-details">Deceased’s details</a>
            <a class="govuk-link" href="record-informants-details">Informant’s details</a>
            <a class="govuk-link" href="record-check-all-information">Check all information</a>
            <a class="govuk-link" href="record-register-page">Register page</a>
            <a class="govuk-link" href="record-informant-declaration">Declaration</a>
            
        </nav>
    {% endcall %}
{% endblock %}


{% block mainContent %}
    {% call hmpoForm(ctx) %}

    <h1 class="heading-flex govuk-heading-l">Uploads {{ hmpoSubmit(ctx, {
        text: translate("buttons.editDetails"),
        classes: "govuk-button--secondary" })
    }}</h1>

    <p>No documents have been uploaded.</p>

    <p>This feature lets you keep scans of the medical certificate with the rest of the registration information. They will not be sent to RON. Uploads will be permanently deleted once the record is complete.</p>

    <p>Do not upload scans of other personal documents, such as passports or birth certificates.</p>

    {% endcall %}
{% endblock %}
