{% extends "layout-registrar-record.html" %}

{% set hmpoTitle %}{{values.coverSheetDeceasedLastName | upper}}, {{values.coverSheetDeceasedFirstName}}{% endset %}

{% block sideContent %}
    {% call hmpoSidebar({ classes: "hmpo-sidebar__thick-border" }) %}
        <!-- TODO: Import side navigation component from DAP frontend -->
        <nav class="side-navigation">
            <!-- TODO: Persist session data for a href links -->
            <a class="govuk-link" href="record">Cover sheet</a>
            <h2 class="govuk-heading-s">Pre-registration</h2>
            <a class="govuk-link" href="record-cause-of-death">Cause of death</a>
            <a class="govuk-link" href="record-uploads">Uploads</a>
            <h2 class="govuk-heading-s">Registration</h2>
            <a class="govuk-link" href="record-deceaseds-details">Deceased’s details</a>
            <a class="govuk-link govuk-link__active" href="#">Informant’s details</a>
            <a class="govuk-link" href="record-check-all-information">Check all information</a>
            <a class="govuk-link" href="record-register-page">Register page</a>
            <a class="govuk-link" href="record-informant-declaration">Declaration</a>
           
        </nav>
    {% endcall %}
{% endblock %}

{% block mainContent %}
    {% call hmpoForm(ctx) %}
    <h2 class="heading-flex govuk-heading-l">Informant’s details {{ hmpoSubmit(ctx, {
        text: translate("buttons.editDetails"),
        classes: "govuk-button--secondary" })
    }}</h2>

    {% set deceasedPlaceOfDeathAddressCombined = [
        values.deceasedPlaceOfDeathAddressLine1 if values.deceasedPlaceOfDeath == "Home" else values.deceasedPlaceOfDeathAddressCELine1,
        values.deceasedPlaceOfDeathAddressLine2 if values.deceasedPlaceOfDeath == "Home" else values.deceasedPlaceOfDeathAddressCELine2,
        values.deceasedPlaceOfDeathAddressStreet if values.deceasedPlaceOfDeath == "Home" else values.deceasedPlaceOfDeathAddressCEStreet,
        values.deceasedPlaceOfDeathAddressTown if values.deceasedPlaceOfDeath == "Home" else values.deceasedPlaceOfDeathAddressCETown,
        values.deceasedPlaceOfDeathAddressCounty if values.deceasedPlaceOfDeath == "Home" else values.deceasedPlaceOfDeathAddressCECounty,
        values.deceasedPlaceOfDeathAddressPostcode if values.deceasedPlaceOfDeath == "Home" else values.deceasedPlaceOfDeathAddressCEPostcode
    ] | filter | join("<br>") %}

    {% set deceasedUsualAddressCombined = [
        values.deceasedUsualAddressLine1 if values.deceasedUsualAddress == "Different to place of death (non-communal establishment)" else values.deceasedUsualAddressCELine1,
        values.deceasedUsualAddressLine2 if values.deceasedUsualAddress == "Different to place of death (non-communal establishment)" else values.deceasedUsualAddressCELine2,
        values.deceasedUsualAddressStreet if values.deceasedUsualAddress == "Different to place of death (non-communal establishment)" else values.deceasedUsualAddressCEStreet,
        values.deceasedUsualAddressTown if values.deceasedUsualAddress == "Different to place of death (non-communal establishment)" else values.deceasedUsualAddressCETown,
        values.deceasedUsualAddressCounty if values.deceasedUsualAddress == "Different to place of death (non-communal establishment)" else values.deceasedUsualAddressCECounty,
        values.deceasedUsualAddressPostcode if values.deceasedUsualAddress == "Different to place of death (non-communal establishment)" else values.deceasedUsualAddressCEPostcode
    ] | filter | join("<br>") %}

    {% set informantAddress = [
        values.informantAddressLine1,
        values.informantAddressLine2,
        values.informantAddressStreet,
        values.informantAddressTown,
        values.informantAddressCounty,
        values.informantAddressPostcode
    ] | filter | join("<br>") %}

    {{ govukSummaryList({ rows: [
        {
            key: { text: "First name" },
            value: { text: values.informantFirstName }
        },
        {
            key: { text: "Middle names" },
            value: { text: values.informantMiddleNames }
        },
        {
            key: { text: "Last name" },
            value: {
                text: (values.informantLastName | upper) if values.informantCapitaliseLastNames === true
                else values.informantLastName
            }
        },
        {
            key: { text: "Capitalise last names" },
            value: {
                text: "Yes" if values.informantCapitaliseLastNames
                else ("No – print as typed" if values.informantCapitaliseLastNames === false)
            }
        },
        {
            key: { text: "Qualification" },
            value: {
                text: "Relative - present at death" if values.informantQualificationAdditional == "Relative present at death"
                    else ("Relative – in attendance" if values.informantQualificationAdditional == "Relative in attendance"
                        else ("Relative – not present at death" if values.informantQualificationAdditional == "Relative not present at death"
                            else ("Partner – present at death" if values.informantQualificationAdditional == "Partner present at death"
                                else ("Partner – in attendance" if values.informantQualificationAdditional == "Partner in attendance"
                                    else ("Partner – not present at death" if values.informantQualificationAdditional == "Partner not present at death"
                                        else ("Non-relative – present at death" if values.informantQualificationAdditional == "Non-relative present at death"
                                            else ("Non-relative – occupier" if values.informantQualificationAdditional == "Non-relative occupier"
                                                else ("Non-relative – inmate" if values.informantQualificationAdditional == "Non-relative inmate"
                                                    else ("Non-relative – causing the body to be buried" if values.informantQualificationAdditional == "Non-relative causing the body to be buried"
                                                        else ("Non-relative – causing the body to be cremated" if values.informantQualificationAdditional == "Non-relative causing the body to be cremated"
                                                            else ("Non-relative – in charge of the body" if values.informantQualificationAdditional == "Non-relative in charge of the body"
                                                                else ("Non-relative – causing the disposal of the body" if values.informantQualificationAdditional == "Non-relative causing the disposal of the body"
                                                                    else("Personal representative of the deceased" if values.informantQualificationAdditional == "Non-relative personal representative of the deceased")
                                                                )
                                                            )
                                                        )
                                                    )
                                                )
                                            )
                                        )
                                    )
                                )
                            )
                        )
                    )
            }
        },
        {
            key: { text: "Relationship to deceased" },
            value: { text: values.informantRelationshipToDeceased }
        } if values.informantQualificationAdditional == "Relative present at death" or values.informantQualificationAdditional == "Relative in attendance" or values.informantQualificationAdditional == "Relative not present at death" or values.informantQualificationAdditional == "Partner present at death" or values.informantQualificationAdditional == "Partner in attendance" or values.informantQualificationAdditional == "Partner not present at death",
        {
            key: { text: "Did the informant live with the deceased?" },
            value: { html:
                "Yes:<br>" + deceasedPlaceOfDeathAddressCombined if (values.informantLiveWithDeceased and values.deceasedUsualAddress == "Same as place of death")
                else ("Yes:<br>" + deceasedUsualAddressCombined if values.informantLiveWithDeceased
                    else ("No:<br>" + informantAddress if values.informantLiveWithDeceased === false)
                )
            }
        }
    ] | filter }) }}

    {% endcall %}
{% endblock %}
