{% extends "layout-registrar-record.html" %}

{% set hmpoTitle %}{{values.deceasedLastNameCoverSheet}}, {{values.deceasedFirstNameCoverSheet}}{% endset %}

{% block sideContent %}
    <style>
        .hmpo-sidebar {
            width: 100%;
            float: none;
            position: relative;
            padding: 0;
        }
    </style>

    {% call hmpoSidebar({ classes: "hmpo-sidebar__thick-border" }) %}
        <!-- TODO: Import side navigation component from DAP frontend -->
        <h3 class="govuk-heading-m">One-third column placeholder</h3>
        <p>Import side navigation</p>
        <ul>
            <!-- TODO: Persist session data for a href links -->
            <li><a href="record">Cover sheet</a></li>
            <br>
            <li>Pre-registration</li>
            <li><a href="record-cause-of-death">Cause of death</a></li>
            <li><a href="record-uploads">Uploads</a></li>
            <br>
            <li>Registration</li>
            <li><a href="record-deceaseds-details">Deceased’s details</a></li>
            <li><a href="record-informants-details">Informant’s details</a></li>
            <li><a href="#">Check all information</a></li>
            <li><a href="record-register-page">Register page</a></li>
        </ul>
    {% endcall %}
{% endblock %}

{% block mainContent %}
    {% call hmpoForm(ctx) %}

    <h2 class="govuk-heading-l">Check all information</h2>

    <p>Placeholder page</p>

    {% endcall %}
{% endblock %}
