{% extends "layout-registrar-record.html" %}

{% set hmpoTitle %}{{values.coverSheetDeceasedLastName | upper}}, {{values.coverSheetDeceasedFirstName}}{% endset %}

{% block sideContent %}
    {% call hmpoSidebar({ classes: "hmpo-sidebar__thick-border" }) %}
        <nav class="side-navigation">
            <!-- TODO: Persist session data for a href links -->
            <a class="govuk-link" href="record">Cover sheet</a>
            <h2 class="govuk-heading-s govuk-!-margin-top-2">Pre-registration</h2>
            <a class="govuk-link" href="record-cause-of-death">Cause of death</a>
            <a class="govuk-link govuk-link__active" href="record-uploads">Uploads</a>     
            <h2 class="govuk-heading-s govuk-!-margin-top-2">Registration</h2>
            <a class="govuk-link" href="record-deceaseds-details">Deceased's details</a>
            <a class="govuk-link" href="record-informants-details">Informant's details</a>
            <a class="govuk-link" class="govuk-link" href="record-check-all-information">Check all information</a>
            <a class="govuk-link" href="record-register-page">Register page</a>
        </nav>
    {% endcall %}
{% endblock %}

{% block mainContent %}
    {% call hmpoForm(ctx) %}

    <h1 class="govuk-heading-m">Uploads</h1>
    {{ govukFileUpload({
        id: "fileUpload",
        name: "fileUpload",
        hint: {
            text: "pdf, png, jpg, jpeg and tiff files only"
        },
        label: {
          text: "Upload a document"
        }
      }) }}
      {{ hmpoSubmit(ctx, {
        text: translate("buttons.upload"),
        classes: "govuk-button--secondary",
        href: "./record"
    }) }}
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary govuk-!-margin-left-2"
      }) }}
    {% endcall %}
{% endblock %}
