{% extends "layout-registrar-record.html" %}

{% set hmpoTitle %}{{values.deceasedLastNameCoverSheet}}, {{values.deceasedFirstNameCoverSheet}}{% endset %}

{% block sideContent %}
    <style>
        .hmpo-sidebar {
            width: 100%;
            float: none;
            position: relative;
            padding: 0;
        }
    </style>

    {% call hmpoSidebar({ classes: "hmpo-sidebar__thick-border" }) %}
        <!-- TODO: Import side navigation component from DAP frontend -->
        <h3 class="govuk-heading-m">One-third column placeholder</h3>
        <p>Import side navigation</p>
        <ul>
            <!-- TODO: Persist session data for a href links -->
            <li><a href="record">Cover sheet</a></li>
            <br>
            <li>Pre-registration</li>
            <li><a href="record-cause-of-death">Cause of death</a></li>
            <li><a href="record-uploads">Uploads</a></li>
            <br>
            <li>Registration</li>
            <li><a href="record-deceaseds-details">Deceased’s details</a></li>
            <li><a href="record-informants-details">Informant’s details</a></li>
            <li><a href="record-check-all-information">Check all information</a></li>
            <li><a href="record-register-page">Register page</a></li>
        </ul>
    {% endcall %}
{% endblock %}

{% block mainContent %}
    {% call hmpoForm(ctx) %}

    <h2 class="govuk-heading-l">Cause of death</h2>

    <h3 class="govuk-heading-m">Side 1</h3>
    {% call govukFieldset({
        id: "MCCDPlaceOfDeath",
        legend: {
            text: "Place of death",
            classes: "govuk-fieldset__legend--s"
        }
    }) %}

        {{ hmpoText(ctx, {
            id: "MCCDAddressLine1",
            label: {
                text: "House or flat number",
                classes: "govuk-label--xs"
                },
            attributes: { autocapitalize: "words" },
            classes: "govuk-!-width-one-half"
        }) }}

        {{ hmpoText(ctx, {
            id: "MCCDAddressLine2",
            label: {
                text: "Building name",
                classes: "govuk-label--xs"
                },
            attributes: { autocapitalize: "words" },
            classes: "govuk-!-width-one-half"
        }) }}

        {{ hmpoText(ctx, {
            id: "MCCDAddressStreet",
            label: {
                text: "Street",
                classes: "govuk-label--xs"
            },
            attributes: { autocapitalize: "words" },
            classes: "govuk-!-width-one-half"
        }) }}

        {{ hmpoText(ctx, {
            id: "MCCDAddressTown",
            label: {
                text: "Town or city",
                classes: "govuk-label--xs"
            },
            attributes: { autocapitalize: "words" },
            classes: "govuk-!-width-one-half"
        }) }}

        {{ hmpoText(ctx, {
            id: "MCCDAddressCounty",
            label: {
                text: "County",
                classes: "govuk-label--xs"
            },
            attributes: { autocapitalize: "words" },
            classes: "govuk-!-width-one-half"
        }) }}

        {{ hmpoText(ctx, {
            id: "MCCDAddressPostcode",
            label: {
                text: "Postcode",
                classes: "govuk-label--xs"
            },
            attributes: { autocapitalize: "characters" },
            classes: "govuk-!-width-one-quarter"
        }) }}

    {% endcall %}

    {{ hmpoDate(ctx, {
        id: "dateCertifyingPractitionerLastSawDeceasedAlive",
        legend: {
            text: "Date certifying practitioner last saw them alive",
            classes: "govuk-label--s"
        },
        hint: "For example, 12 11 2007"
    }) }}

    {{ hmpoRadios(ctx, {
        id: "letterCircledOnMCCD",
        legend: {
            text: "Which letter is circled on the MCCD?",
            classes: "govuk-label--s"
        },
        classes: "govuk-radios--small",
        items: [
            { value: "a", text: "a – Seen after death by me" },
            { value: "b", text: "b – Seen after death by another medical practitioner but not by me" },
            { value: "c", text: "c – Not seen after death by a medical practitioner" }
        ]
    }) }}

    <!-- TODO: Refactor into fieldset -->
    <h4 class="govuk-heading-s">Cause of death</h4>
    {{ hmpoTextarea(ctx, {
        id: "MCCDCauseOfDeathReason1",
        label: {
            text: "1(a) Disease or condition directly leading to death",
            classes: "govuk-label--xs"
        }
    }) }}

    <!-- Refactor into inline fieldset like date input -->
    {{ hmpoText(ctx, {
        id: "MCCDCauseOfDeathReason1TimeBetweenOnsetAndDeath",
        label: {
            text: "Time between onset and death",
            classes: "govuk-label--xs"
        },
        classes: "govuk-input--width-2"
    }) }}
    {{ hmpoSelect(ctx, {
        id: "MCCDCauseOfDeathReason1TimeUnit",
        label: {
            text: "Choose time unit",
            classes: "govuk-visually-hidden"
        },
        items: [
            { value: null, text: "Choose time unit", selected: true },
            { value: "Minutes", text: "Minutes" },
            { value: "Hours", text: "Hours" },
            { value: "Days", text: "Days" },
            { value: "Weeks", text: "Weeks" },
            { value: "Months", text: "Months" },
            { value: "Years", text: "Years" },
            { value: "Not stated", text: "Not stated" }
        ]
    }) }}

    <p><a href="#">1(b). Add other disease or condition leading to 1(a)</a></p>

    <p><a href="#">2. Add other significant contributory conditions</a></p>

    {{ hmpoText(ctx, {
        id: "certifyingPractitionerFullName",
        label: {
            text: "Certifying practitioner’s full name",
            classes: "govuk-label--s"
        }
    }) }}

    {{ hmpoText(ctx, {
        id: "certifyingPractitionerQualifications",
        label: {
            text: "Qualifications",
            classes: "govuk-label--s"
        }
    }) }}

    <!-- Create new class for govuk-input--width-7 -->
    {{ hmpoText(ctx, {
        id: "certifyingPractitionerGMCNumber",
        label: {
            text: "GMC number",
            classes: "govuk-label--s"
        },
        classes: "govuk-input--width-10"
    }) }}

    {{ hmpoDate(ctx, {
        id: "MCCDDateSigned",
        legend: {
            text: "Date signed",
            classes: "govuk-label--s"
        },
        hint: "For example, 12 11 2007"
    }) }}

    {{ hmpoRadios(ctx, {
        id: "diedInHospital",
        legend: {
            text: "Died in a hospital?",
            classes: "govuk-label--s"
        },
        classes: "govuk-radios--small",
        items: [
        {
            value: true,
            conditional: {
                html:
                    hmpoText(ctx, {
                        id: "consultantFullName",
                        label: {
                            text: "Consultant’s full name",
                            classes: "govuk-label--s"
                        }
                    })
            }
        },
        {
            value: false
        }
    ]
    }) }}

    <h3 class="govuk-heading-m">Side 2</h3>
    {{ hmpoRadios(ctx, {
        id: "attendingPractitionerProvideFutherInformation",
        legend: {
            text: "Might the attending practitioner apply to give further information later (box B)?",
            classes: "govuk-label--s"
        },
        classes: "govuk-radios--small"
    }) }}

    {{ hmpoSubmit(ctx, { text: translate("buttons.save") }) }}
    {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: "./record-cause-of-death"
    }) }}

    {% endcall %}
{% endblock %}
