{% extends "layout-registrar-record.html" %}

{% set hmpoTitle %}{{values.deceasedLastNameCoverSheet}}, {{values.deceasedFirstNameCoverSheet}}{% endset %}

{% block sideContent %}
    <style>
        .hmpo-sidebar {
            width: 100%;
            float: none;
            position: relative;
            padding: 0;
        }
    </style>

    {% call hmpoSidebar({ classes: "hmpo-sidebar__thick-border" }) %}
        <!-- TODO: Import side navigation component from DAP frontend -->
        <h3 class="govuk-heading-m">One-third column placeholder</h3>
        <p>Import side navigation</p>
        <ul>
            <!-- TODO: Persist session data for a href links -->
            <li><a href="record">Cover sheet</a></li>
            <br>
            <li>Pre-registration</li>
            <li><a href="record-cause-of-death">Cause of death</a></li>
            <li><a href="#">Uploads</a></li>
            <br>
            <li>Registration</li>
            <li><a href="#">Deceased’s details</a></li>
            <li><a href="#">Informant’s details</a></li>
            <li><a href="#">Check all information</a></li>
            <li><a href="#">Register page</a></li>
        </ul>
    {% endcall %}
{% endblock %}

{% block mainContent %}
    {% call hmpoForm(ctx) %}

    <h2 class="govuk-heading-l">Cover sheet</h2>
    {{ hmpoSubmit(ctx, {
            text: translate("buttons.editDetails"),
            classes: "govuk-button--secondary"
        })
    }}

    <h3 class="govuk-heading-m">File information</h3>
    {{ govukSummaryList({ rows: [
        {
            key: { text: "Deceased’s first name" },
            value: { text: values.deceasedFirstNameCoverSheet }
        },
        {
            key: { text: "Middle names" },
            value: { text: values.deceasedMiddleNamesCoverSheet }
        },
        {
            key: { text: "Last name" },
            value: { text: values.deceasedLastNameCoverSheet }
        },
        {
            key: { text: "Date of death" },
            value: { text: values.deceasedDateOfDeathCoverSheet | date("DD/MM/YYYY") }
        }
    ] | filter }) }}


    <h3 class="govuk-heading-m">Registrar information</h3>
    {% set informantContactDetails = [
        values.informantFullNameCoverSheet,
        values.informantPhoneNumberCoverSheet,
        values.informantEmailAddressCoverSheet
    ] | filter | join("<br>") %}

    {{ govukSummaryList({ rows: [
        {
            key: { text: "Date MCCD received" },
            value: { text: values.dateMCCDReceivedCoverSheet }
        },
        {
            key: { text: "MCCD status" },
            value: { text: values.MCCDStatus }
        },
        {
            key: { text: "Priority" },
            value: { text: values.priority }
        },
        {
            key: { text: "Informant contact details" },
            value: { html:
                informantContactDetails if informantContactDetails else "<br><br><br>"
            }
        },
        {
            key: { text: "Notes" },
            value: { html: values.notes }
        }
    ] }) }}

    {% endcall %}
{% endblock %}
