{% extends "layout-registrar-record.html" %}

{% set hmpoTitle %}{{values.coverSheetDeceasedLastName | upper}}, {{values.coverSheetDeceasedFirstName}}{% endset %}

{% block mainContent %}


    <h2 class="govuk-heading-l">Name, birth and death details</h2>

    <h3 class="govuk-heading-m"></h3>
    {% call hmpoForm(ctx) %}
    {{ hmpoDate(ctx, {
        id: "MCCDDateMedicalCertificateIssued",
        legend: {
            text: "Date medical certificate was issued",
            classes: "govuk-label--s"
        },
        hint: "For example, 12 11 2007"
    }) }}

    <!-- <h4 class="govuk-heading-s">Date medical certificate was issued</h4>
    <p class="govuk-body">{{ values.MCCDDateMedicalCertificateIssued | date("DD/MM/YYYY") }}</p> -->

    {{ hmpoText(ctx, {
        id: "coverSheetDeceasedFirstName",
        label: {
            text: "Deceased’s first name",
            classes: "govuk-label--s"
        }
    }) }}

    {{ hmpoText(ctx, {
        id: "coverSheetDeceasedMiddleNames",
        label: {
            text: "Middle names",
            classes: "govuk-label--s"
        }
    }) }}

    {{ hmpoText(ctx, {
        id: "coverSheetDeceasedLastName",
        label: {
            text: "Last name",
            classes: "govuk-label--s"
        }
    }) }}

    {{ hmpoRadios(ctx, {
        id: "coverSheetDeceasedDateOfBirth",
        classes: "govuk-radios--small",
        legend: {
            text: "Do you have the deceased's date of birth?",
            classes: "govuk-fieldset__legend--s"
        },
        items: [{
            value: "option1",
            text: "I have the full date of birth",
            conditional: {
                html:
                 hmpoDate(ctx, {
                    id: "coverSheetDeceasedDateOfBirth",
                    legend: {
                        text: "Enter the full date of birth",
                        classes: "govuk-label--s"
                    },
                    hint: "For example, 27 03 2001"
                }) 
            }
        }, {
            value: "option2",
            text: "I have the month and year of birth",
            conditional: {
                html:
                hmpoDate(ctx, {
                   id: "coverSheetDeceasedDateOfBirth",
                   legend: {
                       text: "Enter the month and year of birth",
                       classes: "govuk-label--s"
                   },
                   hint: "For example, 27 03 2001"
               })
            }
        },
        {
            value: "option3",
            text: "I have the year of birth",
            conditional: {
                html:
                hmpoText(ctx, {
                   id: "coverSheetDeceasedDateOfBirth",
                   classes: "govuk-input--width-3",
                   label: {
                       text: "Enter the year of birth",
                       classes: "govuk-label--xs"
                   },
                   hint: "For example, 1960"
               })
            }
        },
        {
            value: "option4",
            text: "I do not have a partial or full date of birth"
        }]
    }) }}

    {{ hmpoDate(ctx, {
        id: "coverSheetDeceasedDateOfDeath",
        legend: {
            text: "Date of death",
            classes: "govuk-label--s"
        },
        hint: "For example, 27 03 2001"
    }) }}

    <h3 class="govuk-heading-m">Registrar information</h3>
    {{ hmpoDate(ctx, {
        id: "coverSheetDateMCCDReceived",
        legend: {
            text: "Date medical certificate was received",
            classes: "govuk-label--s"
        },
        hint: "For example, 12 11 2007"
    }) }}

    {{ hmpoRadios(ctx, {
        id: "coverSheetMCCDStatus",
        legend: {
            text: "Medical certificate status",
            classes: "govuk-label--s"
        },
        classes: "govuk-radios--small",
        items: [
            { value: "OK", text: "OK" },
            { value: "Not OK", text: "Not OK" }
        ]
    }) }}

    {{ hmpoRadios(ctx, {
        id: "coverSheetPriority",
        legend: {
            text: "Priority",
            classes: "govuk-label--s"
        },
        classes: "govuk-radios--small",
        hint: "For example, for faith deaths"
    }) }}

    <!-- TODO: Refactor into fieldset -->
    <h4 class="govuk-heading-s">Informant contact details</h4>
    {{ hmpoText(ctx, {
        id: "coverSheetInformantFullName",
        label: {
            text: "Full name",
            classes: "govuk-label--xs"
        }
    }) }}
    {{ hmpoText(ctx, {
        id: "coverSheetInformantPhoneNumber",
        label: {
            text: "Phone number",
            classes: "govuk-label--xs"
        }
    }) }}
    {{ hmpoText(ctx, {
        id: "coverSheetInformantEmailAddress",
        label: {
            text: "Email address",
            classes: "govuk-label--xs"
        }
    }) }}

    {{ hmpoTextarea(ctx, {
        id: "coverSheetNotes",
        label: {
            text: "Notes",
            classes: "govuk-label--s"
        }
    }) }}

    <div class="govuk-button-group">
        {{ hmpoSubmit(ctx, { text: translate("buttons.save") }) }}
        {{ hmpoSubmit(ctx, {
            text: translate("buttons.cancel"),
            classes: "govuk-button--secondary",
            href: "./record"
        }) }}
    </div>

    {% endcall %}
{% endblock %}
