{% extends "layout-register.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Answers sent",
        html: "Your reference number<br><strong>MED-B-837075614</strong>"
      }) }}

      <p class="govuk-body">We've sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We’ve sent your registration answers to Greenwich Register Office. 
      </p>
      <p class="govuk-body">
They'll contact you to arrange your registration appointment.
      </p>

      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>

{% endblock %}
