{% extends "layout-register.html" %}

{% set hmpoTitle %}Check your details{% endset %}

{% block mainContent %}
    <h1>{{ hmpoTitle }}</h1>

    <h2>Personal details</h2>

    {{ govukSummaryList({ rows: [
        {
            key: { text: "Title" },
            value: { text: values.title },
            actions: { items: [{ text: "Change", href: "/register/personal-details/edit" }]}
        },
        {
            key: { text: "Name" },
            value: { text: values.firstName + " " + values.lastName },
            actions: { items: [{ text: "Change", href: "/register/personal-details/edit" }]}
        },
        {
            key: { text: "Date of birth" },
            value: { text: values.dateOfBirth | date },
            actions: { items: [{ text: "Change", href: "/register/personal-details/edit" }]}
        }
    ] | filter }) }}

    {% call hmpoForm(ctx) %}
        {{ hmpoSubmit(ctx) }}
    {% endcall %}
{% endblock%}
