{% extends "layout-register.html" %}

{% set hmpoTitle %}Check your answers{% endset %}

{% block mainContent %}
    <h1>{{ hmpoTitle }}</h1>

    <h2>Their details</h2>

    {{ govukSummaryList({ rows: [
        {
            key: { text: "Name" },
            value: { text: values.firstName + " " + values.lastName },
            actions: { items: [{ text: "Change", href: "/register/personal-details/edit" }]}
        },
        {
            key: { text: "Previous names" },
            value: { html: previousNames | join("<br/>") if values.previousNames else "You have never been known by any other names" },
            actions: { items: [{ text: "Change", href: "/register/personal-details/edit" }]}
        },
        {
            key: { text: "Date of birth" },
            value: { text: values.dateOfBirth | date },
            actions: { items: [{ text: "Change", href: "/register/date-and-place-of-birth/edit" }]}
        },
        {
            key: { text: "Country of birth" },
            value: { text: values.countryOfBirth | countryName | default("United Kingdom")},
            actions: { items: [{ text: "Change", href: "/register/date-and-place-of-birth/edit" }]}
        },
        {
            key: { text: "Town of birth" },
            value: { text: values.townOrCityOfBirth },
            actions: { items: [{ text: "Change", href: "/register/date-and-place-of-birth/edit" }]}
        },
        {
            key: { text: "Sex" },
            value: { text: values.sex },
            actions: { items: [{ text: "Change", href: "/register/sex/edit" }]}
        },
        {
            key: { text: "Marital status" },
            value: { text: values.maritalStatus },
            actions: { items: [{ text: "Change", href: "/register/marital-status/edit" }]}
        },
        {
            key: { text: "Maiden name" },
            value: { text: values.maidenName },
            actions: { items: [{ text: "Change", href: "/register/maiden-name/edit" }]}
        },
        {
            key: { text: "Occupation" },
            value: { text: values.lastOccupation },
            actions: { items: [{ text: "Change", href: "/register/occupation/edit" }]}
        },
        {
            key: { text: "Usual place of residence" },
            value: { text: values.whereDidTheyLive },
            actions: { items: [{ text: "Change", href: "/register/last-address/edit" }]}
        },
        {
            key: { text: "Residential address" },
            value: { html: [
                values.addressName,
                values.addressLine1,
                values.addressLine2,
                values.addressTown,
                values.addressPostcode
            ] | filter | join("<br/>") },
            actions: { items: [{ text: "Change", href: "/register/residential-address/edit" }]}
        },
        {
            key: { text: "Care home address" },
            value: { html: [
                values.addressName,
                values.addressLine1,
                values.addressLine2,
                values.addressTown,
                values.addressPostcode
            ] | filter | join("<br/>") },
            actions: { items: [{ text: "Change", href: "/register/care-home-address/edit" }]}
        },
        {
            key: { text: "Place of death" },
            value: { text: values.placeOfDeath },
            actions: { items: [{ text: "Change", href: "/register/place-of-death/edit" }]}
        },
        {
            key: { text: "Date of death" },
            value: { text: values.dateOfDeath | date },
            actions: { items: [{ text: "Change", href: "/register/date-of-death/edit" }]}
        }
    ] | filter }) }}

    <h2>Their partner's details</h2>

    {{ govukSummaryList({ rows: [
        {
            key: { text: "Name of spouse or civil partner" },
            value: { text: values.spouseName },
            actions: { items: [{ text: "Change", href: "/register/partner-details/edit" }]}
        },
        {
            key: { text: "Occupation of spouse or civil partner" },
            value: { text: values.spouseOccupation },
            actions: { items: [{ text: "Change", href: "/register/partner-details/edit" }]}
        }
    ] | filter }) }}

    {% call hmpoForm(ctx) %}
        {{ hmpoSubmit(ctx) }}
    {% endcall %}
{% endblock%}
