{% extends "layout-register.html" %}

{% set hmpoTitle %}Their date and place of death{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoDate(ctx, {
            id: "dateOfDeath",
            legend: {
                text: "When did they die?",
                classes: "govuk-label--m"
            },
            hint: "If you only know the month or year, add those"
        }) }}

        {{ hmpoRadios(ctx, {
            id: "didTheyDieAtHome",
            legend: {
                text: 'Did they die at home?',
                classes: "govuk-label--m"
            },
            inline: true
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
