{% extends "layout-register.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}


      <p class="govuk-body">Dear John Smith,</p>

      <p class="govuk-body">
We’ve now received medical certification for the death of Adam Adams
      </p>
      <p class="govuk-body">
This means you or another relative can start the process of registering their death.
      </p>

      <p class="govuk-body">There are 2 steps to this:
<ol class="govuk-list govuk-list--number">
  <li>Give information about the person and yourself – you can do that online using the link and reference number below.
</li>
  <li>Make an appointment with our registrars to sign paperwork and order death certificates. </li>
</ol>
  </P>
      <p class="govuk-body">
  You can give information about the person and yourself at the appointment, instead of online, if you prefer.
    <p class="govuk-body">
        <a href="./personal-details" class="govuk-link">Give information about the person and yourself.</a>  You’ll need this reference <strong>MED-B-837075614.</strong?
      </p>
    </div>
  </div>

{% endblock %}





Give information about the person and yourself.



















<name of registrar office as sign off>



Contact us on <tel> <email>
