{% extends "layout-register.html" %}

{% set hmpoTitle %}Email{% endset %}

{% block header %}
    {{ govukHeader({
        serviceName: ""
    }) }}
{% endblock %}

{% block phaseBanner %}
{% endblock %}

{% block mainContent %}

        <p>Dear Jane Doe,</p>
        <p>We’ve now received medical certification for the death of John Doe.</p>
        <p>This means you or another relative can <a href="/register/start" target="_blank">start the process of registering their death</a>.</p>
        <p> You’ll need this reference <strong>MED-B-837075614.</strong></p>
        <p>You can give information about the person and yourself at the appointment, instead of online, if you prefer.</p>

{% endblock %}





Give information about the person and yourself.



















<name of registrar office as sign off>



Contact us on <tel> <email>
