{% extends "layout-register.html" %}

{% set hmpoTitle %}Are you a qualified informant?{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "informantRelativeOrNot",
            legend: {
                text: "Are you a relative?",
                classes: "govuk-label--m"
            },
            inline: true
        }) }}

        {{ hmpoRadios(ctx, {
            id: "informantPresentAtTheDeathOrNot",
            legend: {
                text: "Were you present at the death?",
                classes: "govuk-label--m"
            },
            inline: true
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
