{% extends "layout-register.html" %}

{% set hmpoTitle %}Your address{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoText(ctx, {
            id: "informantAddressName",
            label: {
                text: "House name or number",
                classes: "govuk-label--m"
                },
            attributes: { autocapitalize: "words" },
            classes: "govuk-!-width-three-quarters"
        }) }}

        {{ hmpoText(ctx, {
            id: "informantAddressLine1",
            label: {
                text: "Street",
                classes: "govuk-label--m"
                },
            attributes: { autocapitalize: "words" },
            classes: "govuk-!-width-three-quarters"
        }) }}

        {{ hmpoText(ctx, {
            id: "informantAddressLine2",
            label: { classes: "govuk-visually-hidden" },
            attributes: { autocapitalize: "words" },
            classes: "govuk-!-width-three-quarters"
        }) }}

        {{ hmpoText(ctx, {
            id: "informantAddressTown",
            label: {
                text: "Town or city",
                classes: "govuk-label--m"
            },
            attributes: { autocapitalize: "words" },
            classes: "govuk-!-width-one-half"
        }) }}

        {{ hmpoText(ctx, {
            id: "informantAddressPostcode",
            label: {
                text: "Postcode",
                classes: "govuk-label--m"
            },
            attributes: { autocapitalize: "characters" },
            classes: "govuk-!-width-one-quarter"
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
