{% extends "layout-register.html" %}

{% set hmpoTitle %}Their address{% endset %}

{% set maidenName %}
    {% from "hmpo-text/macro.njk" import hmpoText %}

    {{ hmpoText(ctx, {
        id: "maidenName",
        label: "What was their maiden name?"
    }) }}
{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "whereDidTheyLive",
            legend: {
                text: 'Where did they usually live?',
                classes: "govuk-label--m"
            },
            items: [
                { value: "residential", text: "At a residential address" },
                { value: "care", text: "In a care home" }
            ]
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
