{% extends "layout-register.html" %}

{% set hmpoTitle %}Their address{% endset %}

{% set maidenName %}
    {% from "hmpo-text/macro.njk" import hmpoText %}

    {{ hmpoText(ctx, {
        id: "maidenName",
        label: "What was their maiden name?"
    }) }}
{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}


    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      idPrefix: "where-lived",
      name: "last-lived",
      fieldset: {
        legend: {
          text: "Where did they usually live?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "residential",
          text: "At a residential address"
        },
        {
          value: "care",
          text: "In a care home"
        }
      ]
    }) }}
        
        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
