{% extends "layout-register.html" %}

{% set hmpoTitle %}What was their relationship status?{% endset %}

{% block mainContent %}

    {% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "maritalStatus",
            legend: hmpoTitle,
            isPageHeading: true,
            items: [{
                value: 'Married or in a civil partnership',
                text: "Married or in a civil partnership"
            }, {
                value: 'Widow or widower',
                text: "Widow or widower"
            }, {
                value: 'Single',
                text: "Single"
            }]
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
