{% extends "layout-register.html" %}

{% set hmpoTitle %}What was their occupation?{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoText(ctx, {
            id: "lastOccupation",
            label: {
                text: "If they were retired, put their last occupation",
                classes: "govuk-label--m"
            },
            isPageHeading: true,
            hint: ""
        }) }}

        {{ hmpoRadios(ctx, {
            id: "retired",
            legend: {
                text: "Were they retired?",
                classes: "govuk-label--m"
            },
            inline: true
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
