{% extends "layout-register.html" %}

{% set hmpoTitle %}Did they have any other names?{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoText(ctx, {
            id: "maidenName",
            label: {
                text: "What was their maiden name?",
                classes: "govuk-label--m"
            }
        }) }}

        {{ hmpoRadios(ctx, {
            id: "anyPreviousNames",
            legend: {
                text: "Did they have any previous legal names?",
                classes: "govuk-label--m"
            },
            hint: "This does not include maiden names – you can add this later",
            inline: true
        }) }}

        {{ hmpoRadios(ctx, {
            id: "knownByAnyOtherNames",
            legend: {
                text: "Were they known by any other names?",
                classes: "govuk-label--m"
            },
            hint: "For example, a stage name",
            inline: true
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
