{% extends "layout-register.html" %}

{% set hmpoTitle %}Their personal details{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoText(ctx, {
            id: "firstName",
            label: {
                text: "Their first name",
                classes: "govuk-label--m"
            },
            hint: "This is also knowns as 'given names'"
        }) }}

        {{ hmpoText(ctx, {
            id: "middleName",
            label: {
                text: "Middle name",
                classes: "govuk-label--m"
            }
        }) }}

        {{ hmpoText(ctx, {
            id: "lastName",
            label: {
                text: "Last name",
                classes: "govuk-label--m"
            },
            hint: "This is also known as 'family name'"
        }) }}

        {{ hmpoText(ctx, {
            id: "prefix",
            label: {
                text: "Does their name have a prefix? (If relevant)",
                classes: "govuk-label--m"
            },
            hint: "For example, 'Dame' or 'OBE'"
        }) }}

        {{ hmpoText(ctx, {
            id: "suffix",
            label: {
                text: "Does their name have a suffix? (If relevant)",
                classes: "govuk-label--m"
            },
            hint: "For example, 'Dame' or 'OBE'"
        }) }}

        {{ hmpoRadios(ctx, {
            id: "sex",
            legend: {
                text: "What was their sex?",
                classes: "govuk-label--m"
            },
            hint: "This is their sex when they died",
            items: [
                { value: "Female", text: "Female" },
                { value: "Male", text: "Male" }
            ]
        }) }}

        {{ hmpoRadios(ctx, {
            id: "maritalStatus",
            legend: {
                text: "What was their relationship status?",
                classes: "govuk-label--m"
            },
            items: [{
                value: 'Married or in a civil partnership',
                text: "Married or in a civil partnership"
            }, {
                value: 'Widow or widower',
                text: "Widow or widower"
            }, {
                value: 'Single',
                text: "Single"
            }, {
                value: 'Single',
                text: "Single"
            }, {
                value: 'Single',
                text: "Single"
            }, {
                value: 'Single',
                text: "Single"
            }]
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
