{% extends "layout-register.html" %}

{% set hmpoTitle %}Their place of death{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "placeOfDeath",
            legend: {
                text: 'Where did they die?',
                classes: "govuk-label--m"
            },
            items: [{
                value: 'hospital',
                text: "In hospital"
            }, {
                value: 'hospice',
                text: "In a hospice"
            }, {
                value: 'travelling',
                text: "Travelling"
            }, {
                value: 'publicPlace',
                text: "In a public place"

            }]
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
