{% extends "layout-register.html" %}

{% set hmpoTitle %}Their partner's details{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoText(ctx, {
            id: "spouseName",
            label: {
                text: "Name of spouse or civil partner",
                classes: "govuk-label--m"
            }
        }) }}

        {{ hmpoText(ctx, {
            id: "spouseOccupation",
            label: {
                text: "Occupation of spouse or civil partner",
                classes: "govuk-label--m"
            }
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
