{% extends "layout-register.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>ABCD1234</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p><a href="/">You can navigate to the main page.</a></p>
      <p><a href="/register">You can restart Sample Journey 1 from scratch.</a></p>
    </div>
  </div>

{% endblock %}
