{% extends "layout-register.html" %}

{% set hmpoTitle %}Voluntary information{% endset %}

{% block mainContent %}
    <h1 id="header">{{ hmpoTitle }}</h1>

    {% call hmpoForm(ctx) %}

        {{ hmpoText(ctx, {
            id: "NHSNumber",
            label: {
                text: "NHS number",
                classes: "govuk-label--m"
            }
        }) }}

        {{ hmpoText(ctx, {
            id: "placeholder",
            label: {
                text: "Further work questions of deceased",
                classes: "govuk-label--m"
            }
        }) }}

        {{ hmpoText(ctx, {
            id: "placeholder",
            label: {
                text: "Further work questions of partner",
                classes: "govuk-label--m"
            }
        }) }}

        {{ hmpoSubmit(ctx) }}

    {% endcall %}

{% endblock %}
