{% extends "layout.html" %}

{% set disableCookieBanner = true %}

{% set hmpoTitle %}Archive{% endset %}

{% block govukHeader %}
    {{ govukHeader({
        serviceName: govukServiceName,
        navigation: [
            {
            href: "./",
            text: "Latest"
            },
            {
            href: "archive",
            text: hmpoTitle,
            active: true
            }
        ],
        serviceUrl: "/"
    }) }}
{% endblock %}

{% block phaseBanner %}
{% endblock %}

{% block mainContent %}
    <span class="govuk-caption-xl">{{ govukServiceName }}</span>
    <h1>{{ hmpoTitle }}</h1>

    <h2>Registration journey</h2>
    <p>Lab days (remote labs)</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://gro-230413-drsr-journey.herokuapp.com/">13 April 2023</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2>Pre-registration journey</h2>
    <p>Lab days (remote labs)</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://gro-210928-drsc-journey.herokuapp.com/">28 September 2021</a></li>
    </ul>

{% endblock %}
