{% extends "layout.html" %}

{% set disableCookieBanner = true %}

{% set hmpoTitle %}Archive{% endset %}

{% block govukHeader %}
    {{ govukHeader({
        serviceName: govukServiceName,
        navigation: [
            {
            href: "./",
            text: "Latest"
            },
            {
            href: "archive",
            text: hmpoTitle,
            active: true
            }
        ],
        serviceUrl: "/"
    }) }}
{% endblock %}

{% block phaseBanner %}
{% endblock %}

{% block mainContent %}
    <span class="govuk-caption-xl">{{ govukServiceName }}</span>
    <h1>{{ hmpoTitle }}</h1>

    <p>There are no archived versions yet.</p>

{% endblock %}
