{% extends "layout.html" %}

{% set disableCookieBanner = true %}

{% set hmpoTitle %}Latest{% endset %}

{% block header %}
    {{ govukHeader({
        serviceName: govukServiceName,
        navigation: [
            {
                href: "./",
                text: hmpoTitle,
                active: true
            },
            {
                href: "archive",
                text: "Archive"
            }
        ],
        serviceUrl: "/"
    }) }}
{% endblock %}

{% block phaseBanner %}
{% endblock %}

{% block mainContent %}
    <span class="govuk-caption-xl">{{ govukServiceName }}</span>
    <h1>{{ hmpoTitle }}</h1>

    <h2>Register</h2>
    <p>User journey for registration.</p>

    {# ========================
       Comment hmpoForm call out if index.html does not need to use the form-wizard (normally doesn't).
       TODO: Improve this: Viewing the first page (index.html) will reset the journey, so shouldn't be used normally.
       Uncomment to use for purposes such as lab testing variations, and you need radio options in index.html.
       ======================== #}
    {# {% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "labTestOptions",
            classes: "govuk-radios--small",
            legend: {
                text: "Lab test options",
                classes: "govuk-fieldset__legend--s"
            },
            items: [{
                value: "option1",
                text: "Option 1"

            }, {
                value: "option2",
                text: "Option 2"
            }]
        }) }}

        {{ hmpoSubmit(ctx, { text: "View prototype" }) }}

    {% endcall %} #}
    {#  ======================== #}

    {{ govukButton({
        text: "View prototype",
        href: "/start-register",
        classes: "govuk-!-margin-bottom-2"
    }) }}

{% endblock %}
