{% extends "layout-registrar.html" %}

{% set govukServiceNameKey = "govuk.serviceNameRegister" %}
{% set govukServiceUrl = "./pending-registrations" %}

{% block backLink %}
    {% if backLink %}
        {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
        <span id="back">{{ govukBackLink({
            text: translate("govuk.backToHomepageLink"),
            href: "/registrar/pending-registrations"
        }) }}</span>
    {% endif %}
{% endblock %}

{% block content %}
    {% if errorlist.length %}
        {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
        {{ govukErrorSummary({
            classes: "error-summary",
            titleText: translate("govuk.errorSummaryTitle"),
            errorList: hmpoGetErrorSummary(ctx)
        }) }}
    {% endif %}

    {% block hmpoContent %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" id="header" data-page="{{hmpoPageKey}}">{{ translate("pages." + hmpoPageKey + ".h1", { default: hmpoTitle }) | safe }}</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% block sideContent %}
                    {% from "hmpo-html/macro.njk" import hmpoHtml %}
                    {{ hmpoHtml(translate("pages." + hmpoPageKey + ".content", { default: [] })) }}
                {% endblock %}
            </div>
            <div class="govuk-grid-column-three-quarters">
                {% block mainContent %}
                    {% from "hmpo-html/macro.njk" import hmpoHtml %}
                    {{ hmpoHtml(translate("pages." + hmpoPageKey + ".content", { default: [] })) }}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
